/* Write your custom CSS here */

.float {
    animation: float 6s ease-in-out infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

/* Standard syntax */
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.pointer {
    cursor: pointer !important;
}

input, select {
    padding: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn, .form-control, textarea, button {
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045) !important;
    padding: 5px !important;
    transform: scale(1.05);
}


span.select2-selection, .select2-selection.select2-selection--multiple {
    padding: 5px !important;
    font-size: 1rem !important;
    line-height: 0.8 !important;
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045) !important;
}

.tox-notifications-container {
    display: none;
}

.tox-tinymce {
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045) !important;
}

/* Uploader Image*/
.avatar-wrapper {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    border: 2px solid #e4e4e4;
    transition: all .3s ease;
    border-radius: 4px;
    margin-bottom: 25px;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
    opacity: .5;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: .9;
}

input.file-upload {
    display: none;
}

label.pic {
    cursor: pointer;
    width: 100%;
    margin-bottom: unset !important;
}


.switch {
    position: relative;
    display: inline-block;
    pointer-events: none;
    width: 30px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.chbox {
    margin-right: 5px;
}

.fl-form {
    position: absolute;
    top: 15px;
    right: 15px;
}

img.option {
    position: absolute;
    top: -40px;
    left: -15px;
    width: 60px;
    border-radius: 100px;
}

hr.option{
    margin: 25px;
}

hr.api::before{
    content: 'Marketplace\'s API';
    display: flex;
    align-items: center;
    zoom: 2;
    margin: -17px -17px -17px 17px;
    z-index: 999;
}

hr.payment::before{
    content: 'Payment\'s API';
    display: flex;
    align-items: center;
    zoom: 2;
    margin: -17px -17px -17px 17px;
    z-index: 999;
}

hr.endpoint::before{
    content: 'Endpoint\'s API';
    display: flex;
    align-items: center;
    zoom: 2;
    margin: -17px -17px -17px 17px;
    z-index: 999;
}

hr.courier::before{
    content: 'Courier\'s API';
    display: flex;
    align-items: center;
    zoom: 2;
    margin: -17px -17px -17px 17px;
    z-index: 999;
}

pre{
    border-radius: 10px!important;
    overflow: hidden!important;
}

span.loop_model{
    position: absolute;
    z-index: 100;
}
