.auth {
    margin-top: 15%;
}

body.login {
    background: #e3e8ee;
}

.auth-form {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.snackbar-container {
    border-radius: 5px !important;
}

*:focus {
    box-shadow: unset !important;
}

textarea.form-control {
    height: auto;
    padding: 15px;
}

.p-none {
    pointer-events: none !important;
}

.nav-link.active {
    color: #869ab8;
}

.tox-tinymce {
    border: unset !important;
}

img.cover {
    object-fit: cover !important;
}

img.contain {
    object-fit: contain !important;
}
